body {
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.App {
  width: 400px;
  height: 300px;
  background: rgba(55, 178, 226, 0.807);
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 2px 17px 9px rgba(0, 0, 0, 0.6);
  text-align: center;
  padding-top: 20px;
}

p {
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 5px 17px rgba(0, 0, 0, 0.6);
}

button {
  padding: 8px 16px;
  margin: 0 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.success {
  margin-left: 15px;
  border: none;
  outline: none;
  background: #33bc84;
  border-radius: 0px 10px 0px 10px;
  transition: 0.5s ease;
  border-bottom: solid 4px #fd565d;
}

button:focus {
  border-radius: 10px 0px 10px 0px;
}

.secondary {
  margin-left: 15px;
  border: none;
  outline: none;
  background: #0f106d;
  border-radius: 0px 10px 0px 10px;
  transition: 0.5s ease;
  border-bottom: solid 4px #fd565d;
}

.danger {
  border: none;
  outline: none;
  background: #e80f16;
  border-radius: 0px 10px 0px 10px;
  transition: 0.5s ease;
  border-bottom: solid 4px #fd565d;
}
